.pagbank-feedback-modal
{
    padding: 30px;
    z-index: 100000;
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    background: rgba(0,0,0,0.6);
    overflow: auto;
    left: 0;
}

.pagbank-feedback-modal .pagbank-feedback-body{
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -298px;
    padding: 0 20px 20px;
    top: 10%;
    z-index: 100001;
    width: 596px;
}

.pagbank-feedback-modal .autoriza-contato {
    margin: 13px 0;
}